.elementor-244 .elementor-element.elementor-element-a8e8259{font-family:"Poppins", Sans-serif;font-size:16px;font-weight:300;text-transform:none;font-style:normal;text-decoration:none;line-height:1.5em;letter-spacing:0px;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}@media(max-width:1024px){.elementor-244 .elementor-element.elementor-element-a8e8259{font-size:14px;}}
/*
     FILE ARCHIVED ON 12:19:21 Mar 17, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:58:11 Jul 25, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 72.816
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.058
  RedisCDXSource: 0.637
  esindex: 0.009
  LoadShardBlock: 54.27 (3)
  PetaboxLoader3.datanode: 142.926 (5)
  load_resource: 178.115
  PetaboxLoader3.resolve: 37.454
  loaddict: 111.777
*/